* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Arial', sans-serif;
}

form {
	margin: 24px;
}

.c-list-bare {
	margin: 0;
	padding: 0;
	list-style: none;
}

.c-list-bare__item {
	margin-bottom: 24px;
}

.c-delivery-addresses {
	display: grid;
	gap: 24px;
}

.address-label {
	display: flex;
	gap: 12px;
}

